.container {
    padding: 4rem 4rem 6rem 6rem;
    display: flex;
    background-color: #FBF8F3;
}
.imageWrapper,.content{
    width: 50%;
}
.content{
    padding: 8rem 0 0;
}
.heroImage{
    width: 100%;
}
.actionsWrapper{
    display: flex;
    align-items: baseline;
    gap: 2rem;
}
.link{
    color: #4D13D1;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: underline;
}
.rateWrapper{
    display: flex;
    padding: 0 0 1rem;
}
.starsWrapper{
    display: flex;
}
.rateText{
    padding: 0 0 0 0.5rem;
}
.title{
    font-size: 3rem;
    padding: 0 0 1rem;
}
.description{
    font-size: 1.2rem;
    padding: 0 0 1rem;
    line-height: 1.8rem;
}
.freeItemsWrapper{
    display: flex;
    padding: 1rem 0;
}
.freeItemsWrapper>div{
    padding: 0 1rem 0 0;
}
.freeItem{
    display: flex;
    align-items: center;
}
.icon{
    margin: 0 0.5rem 0 0;
}
/* @media screen and (max-width: 800px) {
    .container {
      padding: 2rem 3rem 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
} */
@media screen and (max-width: 450px) {
    .container {
      padding: 2rem 3rem 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .imageWrapper,.content{
        width: 100%;
    }
    .freeItemsWrapper{
        flex-direction: column;
    }
    .freeItem{
        padding: 0 0 0.5rem !important;
    }
}